<%= form_for(quote) do |f| %>
  <% if quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="field">
    <%= f.label :genre %>
    <%= f.select :genre, Quote.genres.keys.map {|key| [key.humanize, key]} %>
  </div>

  <div class="field">
    <%= f.label :author_id %>
    <%= f.text_field :author_id %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, Quote.statuses.keys.map {|key| [key.humanize, key]} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
