<div class="container-fluid">
    
  <h2>Quotes</h2>
  <br>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Text</th>
        <th>Genre</th>
        <th>Author</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @quotes.each do |quote| %>
        <tr>
          <td><%= quote.text %></td>
          <td><%= quote.genre.humanize %></td>
          <td><%= link_to quote.author.name, person_path(quote.author_id) %></td>
          <td><%= quote.status %></td>
          <td><%= link_to 'Show', quote, class: 'btn btn-link' %></td>
          <td><%= link_to 'Edit', edit_quote_path(quote), class: 'btn btn-link' %></td>
          <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <%= link_to 'New Quote', new_quote_path, class: 'btn btn-link' %>
</div>