<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @quote.text %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @quote.genre %>
</p>

<p>
  <strong>Author:</strong>
  <%= @quote.author %>
</p>

<p>
  <strong>Status:</strong>
  <%= @quote.status %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
